* {
    primary: #80d4d5;
    primary-fixed: #9cf1f1;
    primary-fixed-dim: #80d4d5;
    on-primary: #003737;
    on-primary-fixed: #002020;
    on-primary-fixed-variant: #004f50;
    primary-container: #004f50;
    on-primary-container: #9cf1f1;
    secondary: #b0cccb;
    secondary-fixed: #cce8e7;
    secondary-fixed-dim: #b0cccb;
    on-secondary: #1b3435;
    on-secondary-fixed: #041f20;
    on-secondary-fixed-variant: #324b4b;
    secondary-container: #324b4b;
    on-secondary-container: #cce8e7;
    tertiary: #b3c8e9;
    tertiary-fixed: #d3e3ff;
    tertiary-fixed-dim: #b3c8e9;
    on-tertiary: #1d314b;
    on-tertiary-fixed: #051c35;
    on-tertiary-fixed-variant: #344863;
    tertiary-container: #344863;
    on-tertiary-container: #d3e3ff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0e1514;
    on-surface: #dde4e3;
    on-surface-variant: #bec8c8;
    outline: #899392;
    outline-variant: #3f4948;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dde4e3;
    inverse-on-surface: #2b3231;
    inverse-primary: #00696a;
    surface-dim: #0e1514;
    surface-bright: #343a3a;
    surface-container-lowest: #090f0f;
    surface-container-low: #161d1d;
    surface-container: #1a2121;
    surface-container-high: #252b2b;
    surface-container-highest: #2f3636;

    bg: #0e1514;
    bg-selected: #0e1514;
    bg-accent: #0e1514;

    fg: #dde4e3;
    fg-alt: #7f849c;

    
    border: 0;
    margin: 0;
    padding: 0;
    spacing: 0;
}

window {
  width: 30%;
  background-color: @bg;
  border-radius:16px;
  border: 2px;
  border-color: @primary-fixed-dim;
  padding: 10px;
}

element{
  padding: 8 12;
  background-color: @surface;
  text-color: @on-surface;
  border-radius:4px;
}

element selected normal{
  background-color: @primary;
  text-color: @on-primary;
  padding-left:8px;
  padding-right:8px;
  border-radius:4px;
}

element-text {
  background-color: transparent;
  text-color: inherit;
  vertical-align: 0.5;
}

element-icon {
  size: 26;
  padding: 0 10 0 0;
  background-color: transparent;
}

entry {
  padding: 12;
  background-color: @bg;
  text-color: @fg;
}

inputbar {
  children: [prompt, entry];
  background-color: @bg;
}

listview {
  background-color: @bg;
  columns: 1;
  lines: 8;
}

mainbox {
  children: [inputbar, listview];
  background-color: @bg;
}

prompt {
  enabled: true;
  padding: 12 0 0 12;
  background-color: @bg;
  text-color: @fg;
  font-size:46px;
}