* {
    primary: #90cef4;
    primary-fixed: #c4e7ff;
    primary-fixed-dim: #90cef4;
    on-primary: #00344a;
    on-primary-fixed: #001e2c;
    on-primary-fixed-variant: #004c69;
    primary-container: #004c69;
    on-primary-container: #c4e7ff;
    secondary: #b5c9d7;
    secondary-fixed: #d1e5f4;
    secondary-fixed-dim: #b5c9d7;
    on-secondary: #20333e;
    on-secondary-fixed: #0a1e28;
    on-secondary-fixed-variant: #374955;
    secondary-container: #374955;
    on-secondary-container: #d1e5f4;
    tertiary: #cac1e9;
    tertiary-fixed: #e7deff;
    tertiary-fixed-dim: #cac1e9;
    on-tertiary: #322c4c;
    on-tertiary-fixed: #1d1736;
    on-tertiary-fixed-variant: #494264;
    tertiary-container: #494264;
    on-tertiary-container: #e7deff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0f1417;
    on-surface: #dfe3e7;
    on-surface-variant: #c0c7cd;
    outline: #8b9297;
    outline-variant: #41484d;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dfe3e7;
    inverse-on-surface: #2c3134;
    inverse-primary: #1d6586;
    surface-dim: #0f1417;
    surface-bright: #353a3d;
    surface-container-lowest: #0a0f12;
    surface-container-low: #181c1f;
    surface-container: #1c2023;
    surface-container-high: #262b2e;
    surface-container-highest: #313539;

    bg: #0f1417;
    bg-selected: #0f1417;
    bg-accent: #0f1417;

    fg: #dfe3e7;
    fg-alt: #7f849c;

    
    border: 0;
    margin: 0;
    padding: 0;
    spacing: 0;
}

window {
  width: 30%;
  background-color: @bg;
  border-radius:16px;
  border: 2px;
  border-color: @primary-fixed-dim;
  padding: 10px;
}

element{
  padding: 8 12;
  background-color: @surface;
  text-color: @on-surface;
  border-radius:4px;
}

element selected normal{
  background-color: @primary;
  text-color: @on-primary;
  padding-left:8px;
  padding-right:8px;
  border-radius:4px;
}

element-text {
  background-color: transparent;
  text-color: inherit;
  vertical-align: 0.5;
}

element-icon {
  size: 26;
  padding: 0 10 0 0;
  background-color: transparent;
}

entry {
  padding: 12;
  background-color: @bg;
  text-color: @fg;
}

inputbar {
  children: [prompt, entry];
  background-color: @bg;
}

listview {
  background-color: @bg;
  columns: 1;
  lines: 8;
}

mainbox {
  children: [inputbar, listview];
  background-color: @bg;
}

prompt {
  enabled: true;
  padding: 12 0 0 12;
  background-color: @bg;
  text-color: @fg;
  font-size:46px;
}